body{
    background-color:#218F76 ;
    margin: 2%;
}
 .search-bar{
     margin: 40px;
 }

 .txHead{
    font-family: 'Monofett', cursive;
    text-align: center;
    font-size: 100px;
    padding: 40px;
    margin: 20px;
 }
 .ui.placeholder.segment{
     background-color: #7CEC9F;
 }
 