body{
    background-color:#218F76 ;
    margin: 2%;
    text-align: center;
}
 .search-bar{
     margin: 40px;
 }

 .txHead{
    font-family: 'Monofett', cursive;
    text-align: center;
    font-size: 100px;
    padding: 10px;
    margin: 10px;
 }
 
 .ui.placeholder.segment{
     background-color: #7CEC9F;
 }
/* 
 .image {
     width: 150px;
     height: 150px;
 } */
 